:root{
    --primary-color: #1d1c2a ;
    --secondary-color: #ff7b26 ;
    --third-color: #ffefe7;
    --light-color: #ffffff;
}
body{
    direction: rtl;
    background-color: var(--primary-color);
}
#sideBar{
    width: 20rem;
    height: 100%;
    background-color: var(--third-color) !important;
    position: fixed;
    right:0;
    z-index: 9999;
}
#nav{
    background-color: var(--third-color) !important ;
}
.navbar-expand-sm .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 30px;
    color: #E5E5E5 !important;
    /* list-style: none;
    line-height: 50px;  */
}
#carousel-container{
    margin-top: -5rem;
}
#side-link{
    color: white !important;
}

#cardBox1:target{
    transition: all ease-in-out 2s !important;
}
/* section2 */
.section2{
    background-color: #E5E5E5;
}
#pills-tab{
    margin-top: 5rem;
}
#pills-pizza-tab:focus{
    background-color: #ff7b26;
    color: #E5E5E5;
}
#pills-pizza-tab:active{
    background-color: #ff7b26 !important;
    color: #E5E5E5;
}

#pills-pizza-tab{
    background-color: transparent;
    color: #ff7b26;
    border-radius: 18px;
    width: 80px;
    transition: all ease-in-out 300ms;
    
}
#pills-burger-tab:focus{
    background-color: #ff7b26;
    color: #E5E5E5;
}
#pills-burger-tab:active{
    background-color: #ff7b26 !important;
    color: #E5E5E5;
}

#pills-burger-tab{
    background-color: transparent;
    color: #ff7b26;
    border-radius: 18px;
    width: 80px;
    
}
#pills-pasta-tab:focus{
    background-color: #ff7b26;
    color: #E5E5E5;
    
}
#pills-pasta-tab:active{
    background-color: #ff7b26 !important;
    color: #E5E5E5;
}
#pills-pasta-tab{
    background-color: transparent;
    color: #ff7b26;
    border-radius: 18px;
    width: 80px;
    
}