@font-face {
    font-family: xregular;
    src: url(../fonts/IRANSansX-Regular.woff);
}
@font-face {
    font-family: xBold;
    src: url(../fonts/IRANSansX-Bold.woff);
}
:root{
    --primary-color: #1d1c2a ;
    --secondary-color: #ff7b26 ;
    --third-color: #ffefe7;
    --light-color: #ffffff;
}
body{
    direction: rtl;
    background-color: var(--primary-color);
    font-family: xregular;
}
#sideBar{
    width: 20rem;
    height: 100%;
    background-color: var(--third-color) !important;
    position: fixed;
    right:0;
    z-index: 9999;
    
}
#nav{
    background-color: var(--third-color) !important ;
}
.navbar-brand{
    font-family: xBold;
    color: var(--secondary-color);
    font-size: 40px;
    border-bottom: 3px solid var(--primary-color);
}
.navbar-brand:hover{
color: var(--primary-color);
}
.topBarLink{
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    transition: all ease-in-out 300ms !important;
}
.topBarLink:hover{
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
    transition: all ease-in-out 300ms !important;
    transform: translateY(2px);
}
.search-btn{
    background-color: var(--secondary-color);
    color: var(--light-color);
    transition: all ease-in-out 300ms;
}
.search-btn:hover{
    outline: auto var(--secondary-color) !important;
    color: var(--primary-color);
    background-color: var(--light-color);
    transition: all ease-in-out 300ms;
}
.navbar-expand-sm .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 30px;
    color: #E5E5E5 !important;
    /* list-style: none;
    line-height: 50px;  */
}
#carousel-container{
    margin-top: -5rem;
}
#side-link{
    color: var(--secondary-color);
    font-size: 18px !important;
    transition: all 300ms ease-in-out;
}
#side-link:hover{
    color: var(--secondary-color);
    transform: translateY(2px);
    transition: all 300ms ease-in-out;
    color: var(--third-color);

}

#cardBox1, #cardBox2, #cardBox3{
    background-color: var(--primary-color) !important;
    transition: all ease-in-out 300ms;
}
.div

/* section2 */
.section2{
}
#pills-tab{
    margin-top: 5rem;
}
#pills-pizza-tab{
    background-color: transparent;
    color: #ff7b26;
    border-radius: 20px;
    width: 80px;
    transition: all ease-in-out 300ms;
    font-size: 22px !important;
    margin-left: 20px ;
}
#pills-pizza-tab:hover{
    color: var(--light-color);
    transition: all ease-in-out 300ms;
}
#pills-pizza-tab:focus{
    background-color: #ff7b26;
    color: #E5E5E5;
}
#pills-pizza-tab:active{
    background-color: #ff7b26 !important;
    color: #E5E5E5;
}
#pills-burger-tab:focus{
    background-color: #ff7b26;
    color: #E5E5E5;
}
#pills-burger-tab:active{
    background-color: #ff7b26 !important;
    color: #E5E5E5;
}
#pills-burger-tab{
    background-color: transparent;
    color: #ff7b26;
    border-radius: 20px;
    width: 80px;
    font-size: 22px !important;
    margin-left: 20px;
}
#pills-burger-tab:hover{
    color: var(--light-color);
    transition: all ease-in-out 300ms;
}
#pills-pasta-tab:focus{
    background-color: #ff7b26;
    color: #E5E5E5;
}
#pills-pasta-tab:active{
    background-color: #ff7b26 !important;
    color: #E5E5E5;
}
#pills-pasta-tab{
    background-color: transparent;
    color: #ff7b26;
    border-radius: 20px;
    width: 80px;   
    font-size: 22px !important;
    margin-left: 20px ;
}
#pills-pasta-tab:hover{
    color: var(--light-color);
    transition: all ease-in-out 300ms;
}

.order-btn{
    background-color: var(--secondary-color);
    border-radius: 18px;
}
.order-btn:hover{
    background-color:var(--secondary-color);
    box-shadow: 3px 3px 10px black;
    color: var(--third-color);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--third-color);
}
.card{
    background-color: var(--third-color);
}
.carousel-btn{
    background-color: #ff7b26 !important; 
}
h1{
    font-family: xregular;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.h1-span{
    color: var(--secondary-color);
}
.card-title{
    color: var(--secondary-color) !important;
    font-weight: bold;
    border-bottom: solid 2px var(--primary-color);
    line-height: 35px !important;

}